<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">


    <title>{% block block_title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://127.0.0.1:5000/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pictures
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for key, value in dict_of_link.items() %}
                <a class="dropdown-item" href='{{"http://127.0.0.1:5000/%s" | format(key)}}'>{{value}}</a>
              {% endfor %}
              <!--<a class="dropdown-item" href="http://127.0.0.1:5000/alarm_clock">Alarm clock</a>-->
              <!--<a class="dropdown-item" href="http://127.0.0.1:5000/headphones">Head phones</a>-->
              <!--<a class="dropdown-item" href="http://127.0.0.1:5000/ipod">iPod</a>-->
              <!--<a class="dropdown-item" href="http://127.0.0.1:5000/calculator">Calculator</a>-->
              <!--<a class="dropdown-item" href="http://127.0.0.1:5000/coffeemaker">Coffeemaker</a>-->
              <!--<a class="dropdown-item" href="http://127.0.0.1:5000/battery_charger">Battery charger</a>-->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="http://127.0.0.1:5000/author">Author</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>



    {% block picture_info %}

    {% endblock %}


     <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-uppercase font-weight-bold">Pictures</h5>
            <ul class="list-unstyled">
              {% for key, value in dict_of_link.items() %}
                <li><a href='{{"http://127.0.0.1:5000/%s" | format(key)}}'>{{value}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->

    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>




